<!DOCTYPE html>
<html>
<head>
    <title>Select Quiz Section</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>

<div class="container card">
    <h1 style="text-align:center; margin-bottom:30px;">
        Quiz Platform
    </h1>

    <div class="section-grid">
        {% for sec in sections %}
            <a href="/quiz/{{ sec }}" class="section-card">
                {{ sec }}
            </a>
        {% endfor %}
    </div>
</div>

</body>
</html>
